.CalcScrenMain {
  height: 3.969rem;
  width: 16.813rem;
  border-radius: 0.313rem;
  margin-bottom: 0.781rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  span {
    font-size: 1.8rem;
    padding-right: 0.781rem;
    overflow: hidden;
  }
}

#CalcScrenMainTheme1 {
  background-color: #182034;
  span {
    color: #eae3dc;
  }
}
#CalcScrenMainTheme2 {
  background-color: #ededed;
  span {
    color: #35352c;
  }
}
#CalcScrenMainTheme3 {
  background-color: hsl(268, 71%, 12%);
  span {
    color: hsl(52, 100%, 62%);
  }
}

@media only screen and (max-width: 375px) {
  .CalcScrenMain {
    margin-bottom: 0;
    height: 4.5rem;
  }
}
