.mainButtons {
  display: flex;
  flex-direction: column;
  width: 16.813rem;

  > div {
    padding: 17px;
    border-radius: 0.531rem;
    > div {
      display: flex;
      button {
        width: calc(25%);
        box-sizing: content-box;
        border: none;
        margin: 0.469rem;
        border-radius: 0.313rem;
        padding: 0.438rem 0.406rem;
      }
      &:last-child {
        button {
          width: 50%;
        }
      }
    }
  }
}
#buttonTheme1 {
  > div {
    background-color: #232c43;

    > div {
      background-color: #232c43;
      button {
        background-color: #eae3dc;
        color: #444b5a;
        box-shadow: 0px 5px 0px -1px rgba(180, 165, 151, 1);
      }
    }
  }

  .functionButton {
    color: #ffffff !important ;
    background-color: hsl(225, 21%, 49%) !important;
    box-shadow: 0px 5px 0px -1px hsl(224, 28%, 35%) !important;
    font-size: 0.813rem !important;
  }
  .functionButtonResult {
    background-color: hsl(6, 63%, 50%) !important;
    box-shadow: 0px 5px 0px -1px hsl(6, 70%, 34%) !important;
    color: #ffffff !important ;
    font-size: 0.813rem !important;
  }
}
#buttonTheme2 {
  > div {
    background-color: hsl(0, 5%, 81%);

    > div {
      background-color: hsl(0, 5%, 81%);
      button {
        background-color: hsl(45, 7%, 89%);
        color: hsl(60, 10%, 19%);
        box-shadow: 0px 5px 0px -1px rgba(180, 165, 151, 1);
      }
    }
  }

  .functionButton {
    color: #ffffff !important ;
    background-color: hsl(185, 42%, 37%) !important;
    box-shadow: 0px 5px 0px -1px hsl(185, 58%, 25%) !important;
    font-size: 0.813rem !important;
  }
  .functionButtonResult {
    background-color: hsl(25, 98%, 40%) !important;
    box-shadow: 0px 5px 0px -1px hsl(25, 99%, 27%) !important;
    color: #ffffff !important ;
    font-size: 0.813rem !important;
  }
}
#buttonTheme3 {
  > div {
    background-color: hsl(268, 71%, 12%);

    > div {
      background-color: hsl(268, 71%, 12%);
      button {
        background-color: hsl(268, 47%, 21%);
        color: hsl(52, 100%, 62%);
        box-shadow: 0px 5px 0px -1px hsl(285, 91%, 52%);
      }
    }
  }

  .functionButton {
    color: #ffffff !important ;
    background-color: hsl(281, 89%, 26%) !important;
    box-shadow: 0px 5px 0px -1px hsl(285, 91%, 52%) !important;
    font-size: 0.813rem !important;
  }
  .functionButtonResult {
    background-color: hsl(176, 100%, 44%) !important;
    box-shadow: 0px 5px 0px -1px hsl(177, 92%, 70%) !important;
    color: hsl(198, 20%, 13%) !important ;
    font-size: 0.813rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .mainButtons {
    width: 100%;

    > div {
      display: flex;
      flex-direction: column;

      padding: 24px;
      margin: 24px;
      > div {
        justify-content: space-between;
        margin-bottom: .8rem;
        button {
          border-radius: 0.313rem;
          margin: 0;
          padding: 0;
          width: 60px;
          height: 60px;
        }
        &:last-child {
          margin: 0;
          button {
            width: 48%;
          }
        }
      }
    }
  }
}
