.mainButtons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  > div {
    padding: 5px;
    background-color: #232c43;
    border-radius: 10px;
    > div {
      display: flex;
      background-color: #232c43;
      button {
        width: 76px;
        background-color: #eae3dc;
        box-sizing: content-box;
        border: none;
        margin: 18px;
        box-shadow: 0px 5px 0px -1px rgba(180, 165, 151, 1);
        border-radius: 10px;
        padding: 14px 13px;
        color: #444b5a;
      }
      &:last-child {
        button {
          width: 50%;
        }
      }
    }
    &__deneme {
      display: none;
    }
  }
}

.functionButtonBlue {
  color: #ffffff !important ;
  background-color: hsl(225, 21%, 49%) !important;
  box-shadow: 0px 5px 0px -1px hsl(224, 28%, 35%) !important;
  font-size: 26px !important;
}
.functionButtonRed {
  background-color: hsl(6, 63%, 50%) !important;
  box-shadow: 0px 5px 0px -1px hsl(6, 70%, 34%) !important;
  color: #ffffff !important ;
  font-size: 26px !important;
}
