.themeMain {
  display: flex;
  width: 16.813rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.781rem;
  div {
    &:nth-child(1) {
      h1 {
        font-size: 1rem;
      }
    }
    &:nth-child(2) {
      display: flex;
      align-items: end;
      h3 {
        font-size: 0.4rem;
        margin-right: 0.625rem;
        margin-bottom: 0.281rem;
      }
      .bar {
        display: flex;
        flex-direction: column;
        &__theme {
          font-size: 0.4rem;
          letter-spacing: 0.2rem;
          padding: 0 0.063rem;
        }
        &__themeAnimation {
          display: flex;
          position: relative;
          width: 100%;
          height: 0.875rem;
          border-radius: 1rem;
          span {
            position: absolute;
            width: 0.875rem;
            height: 100%;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

#barTheme1 {
  justify-content: flex-start;
}
#barTheme2 {
  justify-content: center;
}
#barTheme3 {
  justify-content: flex-end;
}

#mainTheme1 {
  div {
    color: #eae3dc;

    &:nth-child(2) {
      .bar {
        &__themeAnimation {
          background-color: #232c43;
          border-radius: 1rem;
          span {
            background-color: #d03f2f;
            border: 3px solid #232c43;
          }
        }
      }
    }
  }
}
#mainTheme2 {
  div {
    color: #35352c;

    &:nth-child(2) {
      .bar {
        &__themeAnimation {
          background-color: #d1cccc;
          border-radius: 1rem;
          span {
            background-color: #ca5502;
            border: 3px solid #d1cccc;
          }
        }
      }
    }
  }
}
#mainTheme3 {
  div {
    color: #ffe53d;

    &:nth-child(2) {
      .bar {
        &__themeAnimation {
          background-color: hsl(268, 71%, 12%);
          border-radius: 1rem;
          span {
            background-color: hsl(176, 100%, 44%);
            border: 3px solid hsl(268, 71%, 12%);
          }
        }
      }
    }
  }
}
